


.root{
    -fx-background-color: #800000;

}

.buttons{
        -fx-text-fill: #FFFFAB;
         -fx-border-radius: 20px;
                       -fx-background-radius: 20px;
                       -fx-background-color: #000000;
                       -fx-font-family: verdana;


}



